<!DOCTYPE html>
<html lang="en">
<head>
    ​<link rel="stylesheet" href="/static/css/style.css">

    <meta charset="UTF-8">
    <title>Столы для настольного тенниса</title>
</head>
<body>

<div class="container">

    <div class="header">

        <img id="logo" src="/static/media/img/pong_logo.png" alt="logo">

        <h1 class="shop_name">
            Sport Shop!
        </h1>

        <ul class="mainmenu">
            <li><a href="/">Главная</a></li>
            <li><a href="/catalogue/">Каталог</a></li>
            <li><a href="/contacts/">Контакты</a></li>
        </ul>
    </div>

    <hr>
    <div class="main_paragraph">
        <h1>Столы для настольного тенниса</h1>
    </div>


    <a href="/static/media/img/Expert_Roller_enl.jpg" target="_blank"> <img src="/static/media/img/Expert_Roller_enl.jpg" > </a>


    <h3 class="product_headers">Описание товара</h3>


    <p id="short_desc">Для регулярных занятий настольным теннисом с целью совершенствования навыков игры.
        <br>
        Вам нужен прочный и устойчивый стол для игры в настольный теннис? Тогда Стол для настольного тенниса
        YEAHTABLE® с сеткой – это именно то, что нужно
        для Ваших тренировок.</p>

    <a href="#" class="myButton">КУПИТЬ!</a>


    <h3 class="product_headers">Характеристики товара</h3>

    <table>
        <tr>
            <th>Параметр</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>Модель:</td>
            <td>YEAHTABLE®</td>
        </tr>
        <tr>
            <td>Назначение:</td>
            <td>для закрытых помещений</td>
        </tr>
        <tr>
            <td>Плита:</td>
            <td>ЛДСП 16 ММ</td>
        </tr>
        <tr>
            <td>Складной:</td>
            <td>да</td>
        </tr>
        <tr>
            <td>Сетка:</td>
            <td>есть</td>
        </tr>
        <tr>
            <td>Игровое поле:</td>
            <td>меламин</td>
        </tr>
        <tr>
            <td>Цвет:</td>
            <td>синий</td>
        </tr>
    </table>


    <h3 class="product_headers">Подробное описание товара</h3>

    <p id="full_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nunc sit amet magna dignissim sagittis. Donec in
        feugiat sem. In maximus fringilla erat. Pellentesque fermentum diam non eros tempus, quis facilisis felis dapibus.
        Duis suscipit quam elit, tincidunt sodales lacus condimentum id. Proin tristique, lorem eget eleifend egestas, purus
        magna tempus quam, vel condimentum elit lectus eget augue. Praesent tempor et nunc vitae vulputate. Nullam egestas
        aliquam lorem, ullamcorper facilisis magna tristique id. Mauris fermentum leo ac lacus eleifend, sed auctor tellus
        fermentum. Phasellus venenatis arcu in dignissim rhoncus. Fusce pellentesque non turpis at viverra.</p>




    <hr>


    <div class="footer">
        <p>Все права защищены&copy;</p>
    </div>

</div>

