{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{#    <link rel="stylesheet" href="/static/css/style.css">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>
        {% block page_title %}{% endblock %}
    </title>
</head>

<body>
<div class="container">

    <div class="header">

        <img id="logo" src="{% static 'media/img/pong_logo.png' %}" alt="logo">

        <h1 class="shop_name">
            {% block shop_name %}{% endblock %}
        </h1>

        <ul class="mainmenu">
            <li><a href="{% url 'main:main' %}">Главная</a></li>
            <li><a href="{% url 'catalogue:main' %}">Каталог</a></li>
            <li><a href="{% url 'main:contacts' %}">Контакты</a></li>
            <li><a href="{% url 'code_test:main' %}">Тест кода</a></li>
        </ul>
    </div>

    <hr>

    <div class="main_paragraph">
        {% block main_paragraph %}{% endblock %}
    </div>

    <div class="main_desc">
        {% block main_desc %}{% endblock %}
    </div>

    <hr>

    <div class="footer">
        <p>Все права защищены&copy;</p>
    </div>


</div>

</body>
</html>