{% extends 'main/master_template.html' %}
{% load static %}

{% block page_static %}
    <link rel="stylesheet" href="{% static 'catalogue/css/list.css' %}">
{% endblock %}

{% block page_title %}
    Каталог продукции
{% endblock %}

{% block shop_name %}
    Sport Shop!
{% endblock %}

{% block main_paragraph %}
    <h1>Товары:</h1>
{% endblock %}

{% block main_desc %}
    {% for item in object_list %}
        {% include 'main/catalogue.html' with image=item.image name_short=item.name_long name_long=item.name_long price=item.price id=item.id %}
    {% endfor %}

    <hr>
    <h1>Категории:</h1>
    {% for i in category_list %}
        {% include 'main/categories.html' with name=i.name id=i.id %}
    {% endfor %}
{% endblock %}

