{% extends 'main/master_template.html' %}


{% block page_title %}
    Каталог продукции
{% endblock %}

{% block shop_name %}
    Sport Shop!
{% endblock %}

{% block main_paragraph %}
    <h1>Товары</h1>
{% endblock %}

{% block main_desc %}
    {% for item in  object_list%}
        <li class="product_list__item">
            <span class="product_list__item-name_short">
                {{ item.name_short|upper }}
            </span>
            <span class="product_list__item-name_long">
                {{ item.name_long }}
            </span>
            <span class="product_list__item-price">
                {{ item.price }}
            </span>
        <a href="{% url 'catalogue:detail' pk=item.id %}" class="product_list__item-link">К товару</a>
        </li>
    {% endfor %}
{% endblock %}